* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');


html ,body {
    max-width: 1366px;
    margin: auto;
    overflow-x: hidden;
}

/* header starts here */

.header-wrap {
    width: 100%;
    display: flex;
    padding-top: 1%;
    justify-content: space-around;
}

.logo-box p {
    transform: skewX(-10deg);
    font-size: 4.3em;
    font-weight: 700;
    color: #000;
    font-family: cursive;
}

.logo-box span {
    color: rgb(221, 6, 6);
}

.nav-box {
    width: 43%;
    margin-left: 20px;
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    font-weight: 600;
    margin: auto 0.8em 13px;
    font-size: 1.5em;
    cursor:pointer;
    text-decoration: none;
}

.nav-list a {
    color: black;
    text-decoration: none;
}

.nav-list a:hover {
    color: rgb(221, 6, 6);
    border-bottom: 3px solid black;
    padding-bottom: 7px;
}

.nav-btn {
    font-size: 1.3em;
    margin: 40px 0 0 20px;
    padding: 5px 20px;
    color: white;
    border: 0;
    font-weight: 600;
    background-color: rgb(221, 6, 6) ;
    border-radius: 9px;
    height: 50px;
    width: 200px;
    cursor:pointer;
}

.nav-btn:hover {
    border: 3px solid black;
}

.mobile-btn {
    height: 45px;
    width: 50px;
    font-size: 45px;
    color: rgb(221, 6, 6);
    border: 0;
    border-radius: 7px;
    margin-top: 56px;
    display: none;
}

/* header ends here */


/* main starts here */


.containers {
    max-width: 1366px;
    margin-top: 160px;
    display: flex;
    padding-left: 4%;
}


/* container-1 starts here */

/* style for both images*/
.img-box-1 {
    width: 50%;
    padding-left: 2%;
}

.img-box-2 {
    width: 50%;
    padding-right: 3%;
}

img {
    height: 400px;
    width: 430px;
}

/*.*/

.text-box{
    max-width: 50%;
    padding-top: 90px;
}

.text-box h1 {
    font-size: 1.6em;
    font-weight: 700;
}

.text-box p {
    color: rgb(221, 6, 6);
    font-size: 3.9em;
    font-weight: 700;
}

.btn-container-1 {
    font-size: 1.2em;
    margin-top: 25px;
    color: white;
    border: 0;
    font-weight: 600;
    background-color: rgb(221, 6, 6) ;
    border-radius: 9px;
    height: 2.5em;
    width: 17em;
    cursor:pointer;
}

.btn-container-1:hover {
    transform: scale(1.1);
}

/* container-1 ends here */


/* container-2 starts here */

.list-box {
    width: 50%;
}

.list-box li {
    width: 100%;
    height: 3em;
    margin-left: 15%;
    line-height: 40px;
    list-style: none;
    font-weight: 600;
    font-size: 1.5em;
}

.list-box li:hover {
    color: rgb(221, 6, 6);
    padding-left: 20px;
}

.list-icon {
    background-color: rgb(221, 6, 6);
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin-right: 13px;
}


.form {
    margin: 10% 0 0 6em;
    width: 450px;   
}

.form p {
    color: #000;
    font-size: 1.3em;
    margin-bottom: 25px;
    font-weight: 800;
}

.form input {
    height: 3.5em;
    width: 220px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    background-color: lightgray;
    padding-left: 23px;
}

.btn-form {
    height: 3.5em;
    width: 220px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    color: white;
    background-color: rgb(221, 6, 6);
    cursor: pointer;
}

.btn-form:hover {
    color: black;
}

/* container-2 ends here */


/* container-3 starts here */

.text-box-2-container {
    max-width: 1366px;
    margin-bottom: 60px;
    display: flex;
    height: 100%;
}

.text-box-2 {
    background-color: rgb(223, 222, 222);
    border-radius: 15px;
    width: 100%;
    display: flex;
    margin: 0 50px 50px 2px;
}

.circle-container {
    width: 15%;
    padding: 20px 10px 60px 20px;
}

.circle {
    border-radius: 50%;
    height: 4.4em;
    width: 4.8em;
    background-color: rgb(221, 6, 6);
}

.paragraph {
    padding: 0px 10px 20px 2px ;
    width: 85%;
    margin: 20px 0 0 40px;
}

.paragraph p {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
}

.paragraph h2 {
    font-size: 1.6em;
    font-weight: 600;
}

.paragraph h3 {
    font-size: 1.1em;
    font-weight: 700;
}

/* container-3 ends here */


/* main ends here */


/* footer starts here */

footer {
    position: absolute;
    width: 100%;
    left: 0;
    height: 300px;
    background-color: black;
}

.footer-content {
    max-width: 1366px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    padding: 50px 5%;
}


.footer-content p {
    padding-top: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.footer-content p:hover {
    color: rgb(221, 6, 6);
}

.footer-logo-box{
    width: 20%;
}

.footer-logo-box h2 {
    transform: skewX(-10deg);
    font-size: 3em;
    font-weight: 700;
    color: white;
}

.footer-box {
    width: 20%;
    margin-top: 20px;
}

.footer-icons i {
    margin: 30px 30px 0 10px;
    transform: scale(2);
    color: rgb(221, 6, 6);
    cursor: pointer;
}

.footer-icons i:hover {
    color: white;
}

/* footer ends here */


/* Media queries */

@media (max-width: 1020px) {
    
    .logo-box {
        margin-left: 30px;
        font-size: 1.0em;
    }

    .nav-box {
        margin-right: 15%;
    }

    .nav-box .nav-btn {
        padding: 0 30px;
    }

    .text-box {
        font-size: 0.8em;
        margin-left: 50px;
    }

    .list-box li {
        width: 100%;
        font-size: 1.4em;
    }

    .img-box-2 {
        margin-right: 30px;
    }

    .paragraph {
        margin-left: 55px;
        font-size: 0.9em;
    }

    footer {
        font-size: 0.9em;
    }

    .footer-icons {
        font-size: 0.9em;
    }
}

@media (max-width: 915px) {

    .logo-box {
        margin-left: 50px;
    }

    .nav-box {
        margin-right: 20%;
        font-size: 0.9em;
    }

    .nav-box .nav-btn {
        padding: 0 30px;
    }
    
    
    #serviços {
        padding: 0;
    }

    img {
        height: 340px;
        width: 360px;
    }

    .text-box {
        width: 100%;
        font-size: 0.7em;
        padding-right: 30px;
    }

    .paragraph {
        margin-left: 60px;
        padding-right: 20px;
    }
    
    .footer-logo {
        width: 20%;
    }

    .footer-box {
        width: 20%;
    }
}

@media (max-width: 768px) {

    .containers {
        margin-top: 100px
    }

    .logo-box {
        font-size: 1.3em;
        margin-left: 30px;
    }

    .nav-box ul, .nav-btn {
       display: none;
    }

    .mobile-btn {
        display: block;
        position: absolute;
        right: 50px;
        background-color: transparent;
    }

    .img-box-1 {
        padding-right: 3%;
    }

    img {
        height: 240px;
        width: 255px;
        margin-top: 29px;
    }

    .text-box {
        font-size: 0.7em;
    }

    .text-box .btn-container-1:hover {
        transform: scale(1);
    }

    .text-box-2-container {
        display: block;
        width: 100%;
        padding: 0 30px 0 0;
    }
    
    .list-box {
        font-size: 0.8em;
    }

    .list-box li:hover {
        color: black;
        padding: 0;
    }

    .form button {
        margin-top: 10px;
    }

    .footer-logo-box {
        margin-top: 15px;
    }

    .footer-logo-box h2 {
        font-size: 1.8em;
    }

    .footer-icons {
        margin-left: 20px;
    }
}

@media (max-width: 590px) {

    .logo-box {
        font-size: 0.8em;
    }

    .mobile-btn {
        background-color: transparent;
        font-size: 25px;
        position: absolute;
        top: -25px;
    }

    .containers {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    
    .img-box-1 , .img-box-2 {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    img {
        height: 300px;
        width: 350px;
    }

    .text-box {
        max-width: 100%;
        font-size: 0.9em;
        padding: 0;
        margin: 50px 0 0 0;
    }

    .list-box {
        width: 100%;
    }

    .list-box li {
        margin: 0;
    }

    .form {
        width: 100%;
        margin: auto;
        padding: 80px 0 90px 0;
    }

    .text-box-2-container {
        padding: 0 20px;
    }

    footer {
        height: 650px;
    }

    .footer-content {
        flex-direction: column;
        height: 100%;
    }

    .footer-logo-box {
        text-align: center;
        width: 100%;
        font-size: 1.7em;
    }

    .footer-box {
        width: 100%;
    }

    .footer-icons {
        display: flex;
        margin: 0;
    }

    .footer-icons i:hover {
        color: rgb(221, 6, 6);
    }

    @media (max-width: 380px) {
        .logo-box {
            font-size: 0.5em;
            margin-top: 21px;
        }
        
        .mobile-btn {
            right: 10px;
            font-size: 1.3em;
        }

        img {
            height: 150px;
            width: 180px;
            margin-top: -10px;
        }

        .text-box {
            font-size: 0.6em;
        }

        .btn-container-1 {
            width: 70%;
        }

        .list-box ul{
            margin-top: -20px;
            font-size: 0.75em;
        }

        .form {
            font-size: 0.9em;
        }

        .form input, .btn-form {
            width: 70%;
        }
        
        .text-box-2 {
            display: block;
        }

        .circle-container {
            width: 100%;
            padding: 20px; 
            margin: auto;
        }

        .circle {
            width: 70px;
            height: 70px;
            margin: auto;
        }

        .paragraph {
            width: 100%;
            padding: 20px 20px;
            margin: 0;
        }

        .paragraph p {
            margin-bottom: 30px;

        }
    }
}






















